// Blog
color: '#A2A2C7';
 fontSize: 60;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Stay up to date with current initiatives
color: 'white';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 72;
 wordWrap: 'break-word'
---
// READ MORE
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// Services
color: '#DED8D8';
 fontSize: 30;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 3;
 wordWrap: 'break-word'
---
// Community <br/>Minded <br/>Consulting <br/>Firm
color: 'white';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 72;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions empowers organizations to reach their full potential with professional planning services
color: 'white';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// ABOUT US
color: 'white';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// Blog
color: '#DED8D8';
 fontSize: 30;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 3;
 wordWrap: 'break-word'
---
// Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// About Us
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Services
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Blog
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'




 // Services
color: 'black';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76;
 wordWrap: 'break-word'
---
// Our professional services will help align your business with your strategic goals.  We have over 20 years of experience providing extensive services for various organizations.
color: '#4D4D4D';
 fontSize: 35;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 50;
 wordWrap: 'break-word'
---
// Assessments include state analysis and an implementation roadmap.
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Assessments
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Detailed audits of your organization
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Organizational Audits
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Strategic Plan for your organization.
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// StraTeGIC Plan
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Comprehensive analysis that is used to maintain an effectiveness program
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// PROGRAM EVALUATION
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Pricing
color: 'black';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76;
 wordWrap: 'break-word'
---
// Our pricing is personalized to meet your specific needs, ensuring the best value for your investment. Contact us today for a consultation and allow us to elevate your business to the next level!
color: '#4D4D4D';
 fontSize: 35;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 50;
 wordWrap: 'break-word'
---
// BOOK A CONSULTATION
color: '#FBFDFD';
 fontSize: 30;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 3;
 wordWrap: 'break-word'
---
// Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'
---
// About Us
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Blog
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Services
color: 'black';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'




 // Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'
---
// About Us
color: 'black';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Blog
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Services
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Clients Feedback
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Customer testimonials
color: '#282938';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76.80;
 wordWrap: 'break-word'
---
// "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Dianne Russell
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Starbucks
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Kristin Watson
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Louis Vuitton
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Kathryn Murphy
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// McDonald's
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Recent Projects
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// My Portfolio
color: '#282938';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76.80;
 wordWrap: 'break-word'
---
// Project 1
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Project 2
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Project 3
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// My Skills
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// My Expertise
color: '#282938';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76.80;
 wordWrap: 'break-word'
---
// Strategy & Direction
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Skill #2
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: 'black';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Skill #3
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: 'black';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Skill #4
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: 'black';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// E3 STRATEGIC SOLUTIONS
color: 'black';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'
---
// Hello, my name is Erica Opoku
color: '#25282B';
 fontSize: 64;
 fontFamily: 'Playfair Display';
 fontWeight: '700';
 lineHeight: 76.80;
 wordWrap: 'break-word'
---
// I have over twenty years of experience working in non-profits in Canada and Internationally and has spent the last 15 years working at the municipal level in grant making, health system transformation and healthy public policy.
color: '#828282';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 36;
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'




 // About Us
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Services
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Blog
color: 'black';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Recent blog posts
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Olivia Rhye • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// UX review presentations
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// How do you create compelling presentations that wow your colleagues and impress your managers?
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#3538CD';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Presentation
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Phoenix Baker • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Migrating to Linear 101
color: '#1A1A1A';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 28;
 wordWrap: 'break-word'
---
// Linear helps streamline software projects, sprints, tasks, and bug tracking. Here’s how to get...
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#026AA2';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Lana Steiner • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Building your API Stack
color: '#1A1A1A';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 28;
 wordWrap: 'break-word'
---
// The rise of RESTful APIs has been met by a rise in tools for creating, testing, and managing
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#027A48';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Olivia Rhye • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Grid system for better Design User Interface
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// A grid system is a design tool used to arrange content on a webpage. It is a series of vertical and horizontal lines that create a matrix of intersecting points, which can be used to align and organize page elements. Grid systems are used to create a consistent look and feel across a website, and can help to make the layout more visually appealing and easier to navigate.
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Interface
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// All blog posts
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Alec Whitten • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Bill Walsh leadership lessons
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Like to know the secrets of transforming a 2-14 team into a 3x Super Bowl winning Dynasty?
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Leadership
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Management
color: '#363F72';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Demi WIlkinson • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// PM mental models
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Mental models are simple expressions of complex processes or relationships.
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Product
color: '#026AA2';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#3538CD';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Frameworks
color: '#C4320A';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Candice Wu • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// What is Wireframing?
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Introduction to Wireframing and its Principles. Learn from the best in the industry.
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#3538CD';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Natali Craig • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// How collaboration makes us better designers
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Collaboration can make our teams stronger, and our individual designs better.
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#3538CD';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Drew Cano • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Our top 10 Javascript frameworks to use
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// JavaScript frameworks make development easy with extensive features and functionalities.
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Software Development
color: '#027A48';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Tools
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// SaaS
color: '#C01048';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Orlando Diggs • 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Podcast: Creating a better CX Community
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Starting a community doesn’t need to be complicated, but how do you get started?
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Podcasts
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Customer Success
color: '#363F72';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Previous
color: '#667085';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 1
color: '#7F56D9';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 2
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 3
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// ...
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 8
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 9
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 10
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Next
color: '#667085';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Blog
color: 'black';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76;
 wordWrap: 'break-word'





 // About Us
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Services
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Blog
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Contact
color: 'black';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// ABOUT US
color: 'white';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// Contact Us 
color: '#FAFAFA';
 fontSize: 36;
 fontFamily: 'Roboto';
 fontWeight: '700';
 wordWrap: 'break-word'
---
// Name
color: 'rgba(0;
 0;
 0;
 0.50)';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Email
color: 'rgba(0;
 0;
 0;
 0.50)';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Your message...
color: 'rgba(0;
 0;
 0;
 0.50)';
 fontSize: 18;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'


 // Blog
color: '#A2A2C7';
 fontSize: 60;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Stay up to date with current initiatives
color: 'white';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 72;
 wordWrap: 'break-word'
---
// READ MORE
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// Services
color: '#A2A2C7';
 fontSize: 60;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Audits, Analysis & Strategic Planning
color: 'white';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 72;
 wordWrap: 'break-word'
---
// Allow us to elevate your business
color: 'white';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// READ MORE
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// BOOK A CONSULTATION
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// Services
color: '#DED8D8';
 fontSize: 30;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 3;
 wordWrap: 'break-word'
---
// Community <br/>Minded <br/>Consulting <br/>Firm
color: 'white';
 fontSize: 34;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 35;
 wordWrap: 'break-word'
---
// E3 Strategic Solutions empowers <br/>organizations to reach their full potential
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 25;
 wordWrap: 'break-word'
---
// ABOUT US
color: 'white';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// Blog
color: '#DED8D8';
 fontSize: 30;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 3;
 wordWrap: 'break-word'
---
// Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'



 // Pricing
color: 'black';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76;
 wordWrap: 'break-word'
---
// Our pricing is personalized to meet your specific needs, ensuring the best value for your investment. Contact us today for a consultation and allow us to elevate your business to the next level!
color: '#4D4D4D';
 fontSize: 35;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 50;
 wordWrap: 'break-word'
---
// BOOK A CONSULTATION
color: '#FBFDFD';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Assessments include state analysis and an implementation roadmap.
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Assessments
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Detailed audits of your organization
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// Organizational Audits
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Strategic Plan for your organization.
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// StraTeGIC Plan
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Comprehensive analysis that is used to maintain an effectiveness program
color: 'black';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// PROGRAM EVALUATION
color: 'black';
 fontSize: 24;
 fontFamily: 'Bowlby One SC';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 letterSpacing: 2;
 wordWrap: 'break-word'
---
// Services
color: 'black';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76;
 wordWrap: 'break-word'
---
// Our professional services will help align your business with your strategic goals.  We have over 20 years of experience providing extensive services for various organizations.
color: '#4D4D4D';
 fontSize: 35;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 50;
 wordWrap: 'break-word'
---
// Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'




 // Terms of Use
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Clients Feedback
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Customer testimonials
color: '#282938';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76.80;
 wordWrap: 'break-word'
---
// "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Dianne Russell
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Starbucks
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Kristin Watson
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Louis Vuitton
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Kathryn Murphy
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// McDonald's
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Recent Projects
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// My Portfolio
color: '#282938';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76.80;
 wordWrap: 'break-word'
---
// Project 1
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Project 2
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Project 3
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// My Skills
color: '#282938';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// My Expertise
color: '#282938';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76.80;
 wordWrap: 'break-word'
---
// Strategy & Direction
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: '#1C1E53';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Skill #2
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: 'black';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Skill #3
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: 'black';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// Skill #4
color: '#282938';
 fontSize: 32;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 44.80;
 wordWrap: 'break-word'
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
color: 'black';
 fontSize: 21.33;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// READ MORE
color: 'white';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 1.60;
 wordWrap: 'break-word'
---
// E3 STRATEGIC SOLUTIONS
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 textTransform: 'uppercase';
 wordWrap: 'break-word'
---
// Hello,  my name is Erica Opoku
color: 'white';
 fontSize: 34;
 fontFamily: 'Playfair Display';
 fontWeight: '700';
 lineHeight: 40.80;
 wordWrap: 'break-word'
---
// I have over twenty years of experience working in non-profits in Canada and Internationally.
color: 'white';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 36;
 wordWrap: 'break-word'
---
// Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'



 // Blog
color: 'black';
 fontSize: 64;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 76;
 wordWrap: 'break-word'
---
// 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Community Engagement
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// How do you create compelling presentations that wow your colleagues and impress your managers?
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#3538CD';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Presentation
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Strategic Planning
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// How do you create compelling presentations that wow your colleagues and impress your managers?
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#3538CD';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Presentation
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 1 Jan 2023
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Organization Assessments
color: '#1A1A1A';
 fontSize: 24;
 fontFamily: 'Roboto';
 fontWeight: '600';
 lineHeight: 32;
 wordWrap: 'break-word'
---
// How do you create compelling presentations that wow your colleagues and impress your managers?
color: '#667085';
 fontSize: 16;
 fontFamily: 'Roboto';
 fontWeight: '400';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Design
color: '#6941C6';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Research
color: '#3538CD';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Presentation
color: '#C11574';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Previous
color: '#667085';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 1
color: '#7F56D9';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 2
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 3
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// ...
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 9
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// 10
color: '#667085';
 fontSize: 14;
 fontFamily: 'Inter';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Next
color: '#667085';
 fontSize: 14;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 20;
 wordWrap: 'break-word'
---
// Terms of Use
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Privacy
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Contact
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Web Design: PM Daybreak Designs
color: 'white';
 fontSize: 12;
 fontFamily: 'Roboto';
 fontWeight: '500';
 lineHeight: 24;
 wordWrap: 'break-word'
---
// Book Now
color: 'white';
 fontSize: 20;
 fontFamily: 'Roboto';
 fontWeight: '700';
 lineHeight: 24;
 letterSpacing: 4;
 wordWrap: 'break-word'