.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Blog */
.blog {
  color: #A2A2C7;
  font-size: 60px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

/* Stay up to date with current initiatives */
.stay-updated {
  color: white;
  font-size: 64px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 72px;
  word-wrap: break-word;
}

/* READ MORE */
.read-more {
  color: black;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.60px;
  word-wrap: break-word;
}

/* Services */
.services {
  color: #DED8D8;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 3px;
  word-wrap: break-word;
}

/* Community Minded Consulting Firm */
.community {
  color: white;
  font-size: 64px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 72px;
  word-wrap: break-word;
}

/* E3 Strategic Solutions empowers organizations to reach their full potential with professional planning services */
.empowers-organizations {
  color: white;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}

/* ABOUT US */
.about-us {
  color: white;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.60px;
  word-wrap: break-word;
}

/* Book Now */
.book-now {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4px;
  word-wrap: break-word;
}

/* Terms of Use */
.terms-of-use {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

/* Privacy */
.privacy {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

/* Contact */
.contact {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

/* E3 Strategic Solutions */
.e3-strategic-solutions {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

/* Web Design: PM Daybreak Designs */
.web-design {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

/* About Us */
.about-us-secondary {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

/* Services (Secondary) */
.services-secondary {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

/* Blog (Secondary) */
.blog-secondary {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

/* Contact (Secondary) */
.contact-secondary {
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.Title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.ButtonAbout:hover, .ButtonServices:hover,.ButtonBlog:hover{
transform:scale(1.2);
transition: transform ease-in-out 0.3s;
cursor: pointer; 
}

.ListitemDesktopNa,.Logos,.ListitemDesktopNaActive{
cursor: pointer; 
}

.ListitemDesktopNa:hover{
background-color:#5F5FB0 !important;
}

.Button:hover{
  transform:scale(1.2);
  transition: transform ease-in-out 0.5s;
  background-color: white !important;
  cursor: pointer; 
}

.Button:hover .Label{
  color:black !important;
}

.Button:hover .ReadMore{
  color:black !important;
}

.Button {
  z-index: 4;
  padding: 8px 20px; /* Adjust padding for the button */
  background: #5F5FB0;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px; /* Adjust border radius for a less oval shape */
  border: 2px #3A3AC0 solid;
  display: inline-flex;
  align-items: center;
}

.Label {
  color: white;
  font-size: clamp(12px, 2vw, 16px); /* Adjust font size */
  font-family: 'Roboto';
  font-weight: 700;
  letter-spacing: 1.60px;
  word-wrap: break-word;
}


@media (max-height: 300px) and (max-width: 700px) {
  .InitialAbout {
  display: none;
  }
  .Lead{
    font-size: 15px !important;
  }
  .Row{
  display:block !important;
  }
}


.Row {
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
  gap: 42.67px;
  display: inline-flex;
  max-width: 90vw;
}

.ContentX {
align-self: 'stretch',;
flex-direction: 'column'; 
justify-content: 'flex-start'; 
align-items: 'flex-start'; 
display: 'flex';
}


@media (max-height: 400px) and (max-width: 700px) {
  .Row{
  display:block !important;
  }
  .MySkill{
  top:200vh !important;
  margin-top:70px;
  }
  .Content1{
    max-height:200px;
    max-width:500px;
  }
  .Card{
    max-height:600px;
    max-width:500px;
    margin-bottom: 70px;
  }
  .Row.Card{
    max-width:'200px' !important;
  }
}

@media (min-height: 401px) and (min-width: 701px) {
  .Content1{
    max-width:230px;
  }
  .Card{
    max-width:'25vw' !important;
  }
}

.Blog {
  max-width: 100vw;
  height: 892.67px;
  left: 50px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3vh;
  display: inline-flex;
}

@media (min-width: 768px) {
  .Blog {
      top: 200vh; /* Adjust this value as needed */
  }
}

@media (max-width: 767px) {
  .Blog {
      top: 600vh; /* Adjust this value as needed */
  }
}

/*SERVICES PAGE*/

.Servicecards1 {
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
}

.Frame2230 {
  flex: 1 1 0;
  height: 276.38px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: flex;
}

.Servicecard {
  width: 387.50px;
  height: 276.38px;
  position: relative;
}

.Group1 {
  width: 387.50px;
  height: 276.38px;
  left: 0;
  top: -0;
  position: absolute;
}

.Rectangle1 {
  width: 387.50px;
  height: 276.24px;
  left: 0;
  top: 0.14px;
  position: absolute;
  background: #FBFDFD;
  box-shadow: 5px 5px 60px -20px #5F5FB0;
  border-radius: 20px;
  border: 3px #5F5FB0 solid;
}

.CardImage {
  width: 213.65px;
  height: 276.38px;
  left: 1px;
  top: 3px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.UnsplashDuxrc8vt5wq {
  width: 213.65px;
  height: 276.38px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
}

.CardTextx {
  width: 150px;
  height: 151px;
  left: 226px;
  top: 44px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.Group5 {
  width: 388px;
  height: 38px;
  left: 0;
  top: 0;
  position: absolute;
}

.Rectangle161 {
  width: 388px;
  height: 38px;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.50);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.TitleSer {
  width: 388px;
  height: 38px;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: Bowlby One SC;
  font-weight: 400;
  word-wrap: break-word;
}

.Button {
  left: 120px;
  top: 219px;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.ReadMore {
  color: white;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 2px;
  word-wrap: break-word;
}
